/**/
body {
	margin: 0;
	padding: 0;
	background: #5f5f5f;
	font-family: 'Open Sans',Lato,sans-serif !important;
}
.category {
	display: inline-block;
	height: 100px;
	vertical-align: top;
	padding: 20px;
	flex: 1;
	height: 90vh;
}

h1 {
	margin: 0;
	margin-bottom: 10px;
	color: #3A3A3A;
}

#cat-wrapper {
	display: flex;
	flex-direction: row;
	min-width: 750px;
}

.card-wrapper-empty {
	border: solid 1px;
}

.card-wrapper {
	box-sizing: border-box;
	border-radius: 6px;
	width: 100%;
	padding-top: 141.6%;
	position: relative;
}

.card-form {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	display: block;
	border: none;
	background-color: #FFF4;
	color: #EEE;
}

.card-name {
	font-size: 25px;
	text-align: center;
	margin: 20px 0;
	color: #3A3A3A;
}

.card-wrapper img {
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 6px;
}